/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  user-select: text;
  font: normal 12px/100% "SimSun";
  -webkit-overflow-scrolling: touch;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}
body {
  background-color: white;
  min-width: 1100px;
  position: relative;
}
.min {
  min-width: unset;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
ul, li {
  list-style-type: none;
}

a {
  color: unset;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

/* 网页常用样式 */

.min .page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.min {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.min .home {
  position: absolute;
  width: 100%;
  top: 0;
  transition: top 0.6s linear;
}
.min .bg-box {
  background-image: url('@&home-bg.jpg&');
  width: 100%;
  height: 100vh;
}

.min [template="home"] .w1160 {
  height: 100%;
  width: calc(100% - 50px);
  position: relative;
}

.min [template="editor"] p {
  font-size: 10px;
  line-height: 16px;
}

.min h1[template="mainText"] {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.min [template="home"] .subtitle {
  font-size: 14px;
  line-height: 25px;
}


.min aside[template="imageTitle"] {
  padding: 0;
}
.min aside[template="imageTitle"] img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}

.min .swiper-card[template="swiperCard"] {
  width: 96%;
  height: 80%;
  position: absolute;
  top: 50px;
  bottom: 0;
  margin: auto;
}

.min [template="swiperCard"] .theme {
  font-size: 22px;
  width: 70vw;
  line-height: 30px;
  left: 20px;
  top: 170px;
  text-align: justify;
}

.min [template="swiperCard"] .people, .min [template="swiperCard"] .people img {
  width: 90px;
  height: 90px;
}

.min [template="swiperCard"] .people {
  right: 0;
  left: 0;
  top: 30px;
  margin: auto;
}

.min [template="swiperCard"] .text {
  font-size: 16px;
  width: 70vw;
  left: 20px;
  top: 260px;
  line-height: 35px;
  color: #0f0f0f;
  text-align: justify;
}

.min [template="swiperCard"] .people-name {
  top: 130px;
  font-size: 12px;
  width: 115px;
  line-height: 22px;
  right: 0;
  left: 0;
  margin: auto;
}

.min .arrow-left {
  left: -20px;
  width: 14px;
  height: 28px;
  background: url("@&left-min.png&") no-repeat center;
  background-size: 100%;
}

.min .arrow-right {
  right: -20px;
  width: 14px;
  height: 28px;
  background: url("@&right-min.png&") no-repeat center;
  background-size: 100%;
}

.min .swiper[template="3d-swiper"] {
  width: 100%;
  height: calc(100% - 100px);
}

.min [template="3d-swiper"] li, .min [template="3d-swiper"] li img, .min [template="3d-swiper"] li a {
  width: 80vw;
  height: 100vw;
}

.min [template="3d-swiper"] .prev {
  left: -3%;
  width: 18px;
  background-size: 100%;
}

.min [template="3d-swiper"] .next {
  right: -3%;
  width: 18px;
  background-size: 100%;
}

.min [template="swiperCard21"] li {
  margin: 0;
  margin-bottom: 35px;
  margin-top: 11px;
  width: 17%;
}

.min [template="swiperCard21"] .path {
  background-image: url('@&line-min.png&');
  height: 240px;
  margin-bottom: 0;
  background-size: auto 120px;
  background-position: center right;
  overflow: hidden;
}

.min [template="swiperCard21"] .card {
  transform-origin: left top;
  margin-top: 10vh;
}

.min .path-box {
  height: 135vw;
  overflow: hidden;
}

.min [template="home"] .news-box {
  width: 100%;
  overflow: hidden;
}

.min [template="home"] .news {
  width: 100%;
  margin-top: 10px;
}

.min .news li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  font-weight: normal;
}

.min [template="home"] footer[template="copyright"] {
  margin-bottom: 0;
  padding: 0;
  font-size: 10px;
}

.min [template="footer"] .content {
  height: 100%;
  position: relative;
  margin-top: 20px;
}

.min [template="footer"] .logo {
  float: none;
  width: 100%;
  height: 24%;
  background-size: 150px;
}

.min [template="footer"] .qr-box {
  float: none;
  width: 100%;
  margin: 0;
  height: 130px;
}


.min .title-bar {
  display: none;
}

.min .bg-box img {
  display: block;
  width: 100%;
  position: absolute;
  top: 10%;
  bottom: 0;
  margin: auto;
}

.min .head {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url('@&two-bg.jpg&');
}
.min [template="home"] .bottom-bg, .min [template="home"] .bg-2 {
  display: none;
}

.min .editor-note img {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.min .page-3, .min .page-3-2, .min .page-4, .min .page-5 {
  background-size: 100% 100%;
  background-image: url('@&three-bg.jpg&');
}

.min .page-3-2 .content-box {
  margin: 25px;
  height: calc(100% - 50px);
  background-image: url('@&spot.png&');
}

.min .page-3-2 [template="home"] .swiper-card {
  width: 980px;
}

.min .swiper-card[template="swiperCard2"] {
  height: 1500px;
  margin-bottom: 0;
  transform-origin: left top;
  margin: 0;
}

.min [template="swiperCard2"] .people {
  width: 100%;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
  height: 980px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.min [template="swiperCard2"] .people-name {
  left: -37%;
  right: 0;
  top: 249px;
  font-size: 50px;
  text-align: left;
  margin: auto;
  width: 100px;
  line-height: 100px;
}

.min [template="swiperCard2"] .people img {
  position: absolute;
  left: 46%;
  top: 24%;
  height: 40%;
  width: auto;
}

.min [template="swiperCard2"] .profession {
  font-size: 67px;
  text-align: left;
  letter-spacing: 2px;
  width: 60px;
  overflow: hidden;
  line-height: 60px;
  left: 70px;
  top: 70px;
}

.min [template="swiperCard2"] .people-list {
  bottom: 0;
  width: calc(100% - 40px);
  height: 420px;
  left: 0;
  right: 0;
  margin: auto;
}

.min [template="swiperCard2"] .people-item {
  width: 25%;
  height: 50%;
  overflow: hidden;
  background-size: calc(100% - 20px);
  background-position: 22px;
  margin: 0;
  position: relative;
}

.min [template="swiperCard2"] .people-text {
  width: 56%;
  font-size: 42px;
  line-height: 68px;
  left: 30%;
  top: 643px;
}

.min [template="swiperCard2"] .swiper-slide {
  width: 100%;
  position: relative;
}

.min [template="swiperCard2"] .people-item img {
  width: 140px;
  height: 140px;
  left: 24%;
  top: 20%;
  border-radius: 70px;
}

.min [template="swiperCard2"] .people-item p {
  display: block;
  font-size: 30px;
  width: 40px;
  line-height: 40px;
  height: 200px;
  position: absolute;
  left: -5px;
}

.min .page-6 {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('@&four-bg.jpg&');
}

.min [template="footer"] .left, .min [template="footer"] .right {
  display: none;
}

.min [template="footer"] .qr-item {
  width: 100%;
  height: 130px;
}

.min [template="footer"] .qr-box-item {
  margin: 0 auto;
  float: none;
  width: 100px;
}

.min [template="footer"] .qr-box .text {
  line-height: 25px;
  font-size: 12px;
}

.min .footer-box {
  height: calc(100% - 420px);
  overflow: hidden;
}

.min [template="copyright"] p {
  font-size: 6px;
}


.min [template="swiperCard2"] .arrow-right {
  right: -60px;
  width: 60px;
  height: 87px;
  top: 27%;
}

.min [template="swiperCard2"] .arrow-left {
  left: -60px;
  width: 60px;
  height: 87px;
  top: 27%;
}